@charset "utf-8";

body {
  font-family: "Spoqa Han Sans";
  font-size: 16px;
  line-height: 1.5;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

.warp {
	position: relative;
	height: 4.4375rem;
	background: #f5f5f5;
	border-bottom: 0.0625rem solid #e5e5e5;
}

.warp::after {
	position: absolute;
	top: 4.5rem;
	left: 0;
	width: 100%;
	display: block;
	content: '';
	border-bottom: 0.0625rem solid #d7d7d7;
	z-index: 10;
}

.fds-header {
	width: 61.25rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1.3125rem;
	padding-bottom: 2.75rem;
}

.fds-header .guide {
	float: left
}

.guide .guide-title {
	float: left;
	padding: 0.5834em 1em;
	margin-top: 0.5834em;
	font-size: 0.75rem;
	background: #ff1a9c;
	border-radius: 0.125rem;
	color: #fff;
}

.guide .guide-gnb {
	position: relative;
	float: left;
	margin-top: 0.75rem;
}

.guide-gnb li {
	float: left;
}

.guide-gnb a {
	position: relative;
	margin: 0 1.25rem;
	color: #333;
}

.guide-gnb a:hover::after {
	content: '';
	width: 120%;
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: -19px;
	transform: translateX(-50%);
	border-bottom: 2px solid #ff1a9c;
}


.fds-header .menu {	
	float: right;
	margin-top: 0.75rem;
}

.fds-header .menu a {
	position: relative;
}

.fds-header .menu abbr {
	position: relative;
	cursor: help;
	text-decoration: none;
	color: #333;
	padding-left: 1.25rem;
}

.fds-header .menu abbr.active::after,
.fds-header .menu abbr:hover::after,
.fds-header .menu abbr:focus::after{
	position: absolute;
	top: 0;
	left: 0.75rem;
	bottom: -1.125rem;
	width: 100%;
	display: block;
	content: '';
	border-bottom: 0.125rem solid #ff1a9c;
}

.fds-header .menu abbr.active,
.fds-header .menu abbr:hover {
	color: #ff1a9c;
}

/* main */
.fds-main {
	width: 61.25rem;
	margin-left: auto;
	margin-right: auto;
}

.profile, .title {
	float: left;
}

.profile img {
	border-radius: 0.625rem;
	background: #ff1a9c;
}

.profile span:first-child {
	width: 3.125rem;
}

.profile span:last-child {
	width: 3.125rem;
}

.title {
	margin-left: 1.6875rem;
	margin-top: 2.125rem;
}

.title h2 {
	color: #333;
	font-weight: 400;
}

.title strong, .title em {
	display: block;
	color: #b0b0b0;
	font-weight: 400;
	font-style: normal;
}

.title strong {
	font-size: 1rem;
}

.title em {
	font-size: 0.875rem;
}

.title .information {
	margin-top: 4.75rem;
}

.information li {
	float: left;
	margin-right: 1.875rem;
}

.information svg {
	float: left;
}

.information a {
	display: block;
	float: left;
	font-size: 0.875rem;
	color: #888;
	margin-top: -0.125rem;
	margin-left: 0.625rem;
}

/* 탭메뉴 */
.task-list {
	margin-top: 3.75rem;
}

.tab-list {
	margin-left: 3.75rem;
}

.tab-list li {
	position: relative;
	float: left;
}

.tab-list .task-list-html a.active,
.tab-list .task-list-sass a.active, 
.tab-list .task-list-js a.active,  
.tab-list .task-list-html a:hover,
.tab-list .task-list-sass a:hover,
.tab-list .task-list-js a:hover {
	color: #ec3aad;
}

.tab-list .task-list-html a.active::after,
.tab-list .task-list-html a:hover::before, 
.tab-list .task-list-html a:focus::before {
	position: absolute;
	top: 2.8125rem;
	left: -3.75rem;
	display: block;
	content: '';
	width: 18.75rem;
	border-bottom: 0.0625rem solid #ec3aad;
}

.tab-list .task-list-sass {
	margin-left: 179px;
}

.tab-list .task-list-sass a.active::after,
.tab-list .task-list-sass a:hover::before, 
.tab-list .task-list-sass a:focus::before {
	position: absolute;
	top: 2.8125rem;
	left: -5.375rem;
	display: block;
	content: '';
	width: 18.75rem;
	border-bottom: 0.0625rem solid #ec3aad;
}

.tab-list .task-list-js {
	margin-left: 10.625rem;
}

.tab-list .task-list-js a.active::after,
.tab-list .task-list-js a:hover::before, 
.tab-list .task-list-js a:focus::before {
	position: absolute;
	top: 2.8125rem;
	left: -2.875rem;
	display: block;
	content: '';
	width: 18.75rem;
	border-bottom: 0.0625rem solid #ec3aad;
}

.tab-list img, .tab-list a{
	float: left;
}

.tab-list .task-list-html {
	color: #ec3aad;
}

.tab-list a {
	display: block;
	margin-top: -0.125rem;
	font-size: 1.625rem;
	font-weight: 400;
	color: #333;
}


/* html 리스트 */
.html-css-list {
	margin-top: 2.6875rem;
	margin-left: 1.25rem;
}

.html-css-list .post-item {
	position: relative;
}


.html-css-list .post-item-img {
	box-sizing: border-box;
	float: left;
	border-radius: 9.375rem;
	margin-top: 0.75rem;
	box-shadow: 10px 3px 10px hsla(0,0%,0%,.1);
}

.html-css-list .post-item-content {
	box-sizing: border-box;
	float: right;
	width: 84%;
	padding-left: 1.25rem;
	margin-top: 0.125rem;
	margin-bottom: 3.4375rem;
}

.html-css-list .post-item-title a{
	font-size: 1.5rem;
	font-weight: 400;
	color: #333;
}

.html-css-list .post-item-code {
	width: 46.9375rem;
	height: 4.5rem;
	padding-top: 1.125rem;
	padding-bottom: 0.9375rem;
	padding-left: 0.9375rem;
	background: #f7f7f7;
	margin-top: 0.75rem;
}

.html-css-list .post-item-code code {
	font-size: 0.875rem;
	color: #333;
}


.html-css-list .post-item-point{
	position: absolute;
	right: 1.25rem;
	background: #ff1a9c;
	border-radius: 0.625rem;
}

.html-css-list .post-item-point.code-rwd-indulge{
	top: 0.4375rem;
}

.html-css-list .post-item-point.code-rwd{
	top: 13.5625rem;
}

.html-css-list .post-item-point.code-custom-grid{
	top: 26.6875rem;
}

.html-css-list .post-item-point.code-grid{
	top: 39.875rem;
}

.html-css-list .post-item-point.code-transition{
	top: 53rem;
}

.html-css-list .post-item-point.code-position{
	top: 66.125rem;
}

.html-css-list .post-item-point.code-typo{
	top: 79.25rem;
}

.html-css-list .post-item-point.code-float{
	top: 92.375rem;
}

.html-css-list .post-item-point.code-box-shadow{
	top: 105.438rem;
}

.html-css-list .post-item-point.code-selectors{
	top: 118.625rem;
}

.html-css-list .post-item-point.code-attr{
	top: 131.75rem;
}

.html-css-list .post-item-point span {
	display: block;
	font-size: 0.75rem;
	color: #fff;
	padding: 0.1667em 1.667em;
}

::selection {
  cursor: move;
  background: #ff1a9c;
  color: #fff;
}

::-moz-selection {
  background: #ff1a9c;
  color: #fff;
}


/* 접근성 관점에서 링크의 주소를 출력하는 스타일 */
@media print {
  a::after {
    content: '(' attr(href) ')';
    color: #fc4a54;
  }
  
  abbr::after {
    content: '(' attr(title) ')';
  }
}




