@charset "utf-8";

/**
 * --------------------------------
  [설계] split grid 
  전체     : 1280px (컨텐츠 영역 - min-width: 980px)
  컬럼     : 8개
  컬럼 넓이 : 140px
  거터 넓이 : 10px (after, before)
 * ----------------------------- */

.grid-container {
  position: relative;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* 베이스 라인 */
/*.grid-container.show-guide {
  height: 200vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20px, rgba(127, 108, 254, 0.7) 20px);
  background-size: 1px 21px;
}*/

/* 컬럼 */
/*.grid-container.show-columns {
  height: 200vh;
  background: linear-gradient(to right, transparent 10px, hsla(357, 97%, 71%, 0.55) 10px, hsla(356, 72%, 54%, 0.55) 150px, transparent 150px);
  background-size: 160px 1px;
}*/

.grid-container.show-all-grid {
  height: 500vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20px, rgba(127, 108, 254, 0.7) 20px),
      linear-gradient(to right, transparent 10px, hsla(357, 97%, 71%, 0.2) 10px, hsla(356, 72%, 54%, 0.2) 150px, transparent 150px);
  background-size: 1px 21px, 160px 1px;
}

/**
 * --------------------------------
 * Grid Module
 * ----------------------------- */
.grid::after {
  content: '';
  display: block;
  clear: both;
}

/**
 * --------------------------------
 * Unit Module
 * ----------------------------- */
.grid [class*="unit-"] {
  float: left;
  margin-right: 20px;
}
.grid .last, .grid .omega { margin-right: 0; }
.grid .unit-1 { width: 150px; }
.grid .unit-2 { width: 310px; }
.grid .unit-3 { width: 470px; }
.grid .unit-4 { width: 630px; }
.grid .unit-5 { width: 790px; }
.grid .unit-6 { width: 950px; }
.grid .unit-7 { width: 1110px; }
.grid .unit-8 { width: 1270px; }
